.home {
  width: 100vw;
  overflow-x: hidden;

  &__legenda {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    &-card {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;

      .picture {
        flex-basis: 37%;
      }
    }

    &-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      padding-left: 7%;
      justify-content: center;

      .name {
        font-size: 1.8rem;
        font-weight: bold;
      }

      .job {
        padding-top: 4px;
        font-size: 1.5rem;
      }

      .socials {
        display: flex;
        flex-direction: row;
        padding-top: 10px;

        .button {
          min-width: 0;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 3rem;
          margin: 0;
          margin-right: 5px;
        }
      }

    }
  }

  &__feed {
    margin-top: 5rem;
    text-align: center;
  }

  &__polaroid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    @media (min-width: 992px) {
      .home__polaroid-wrapper {
        width: 33%;
      }
    }

    &-wrapper {
      width: 100%;
    }

    &-bottom {

      display: flex;
      flex-direction: column;
      font-size: 2rem;
      margin: 0 1rem;

      .date {
        margin-top: 1.5rem;
      }

      .geolocation {
        margin-top: 0.5rem;
      }

    }
  }
}
