@font-face {
    font-family: 'Dry Brush';
    src: url('../assets/fonts/DryBrush.woff2') format('woff2'),
        url('../assets/fonts/DryBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dry Brush';
    src: url('../assets/fonts/DryBrush.woff2') format('woff2'),
        url('../assets/fonts/DryBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal;
  font-variant: normal;
}

.title {
    font-family: 'Dry Brush';
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
}

h1.title {
  font-size: 10rem;
  @extend .color-green;
  line-height: 9rem;
  padding-top: 3rem;
}

h2.title {
  font-size: 7rem;
}
