$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@font-face {
    font-family: 'Dry Brush';
    src: url('../assets/fonts/DryBrush.woff2') format('woff2'),
        url('../assets/fonts/DryBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dry Brush';
    src: url('../assets/fonts/DryBrush.woff2') format('woff2'),
        url('../assets/fonts/DryBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal;
  font-variant: normal;
  @extend .color-black;
}

.title {
    font-family: 'Dry Brush';
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
}


h1.title {
  @extend .color-green;
  font-size: 4rem;
  line-height: 4rem;
  padding-top: 3rem;

  // Tablet
  @media (min-width: 768px) {
    font-size: 7rem;
    line-height: 7rem;
  }

}

h2.title {
  font-size: 1.4rem;
}

h2.subtitle {
  @extend .color-green;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;

  // Tablet
  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}
